*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.calculator{
    width:60%;
    margin-left:10%;
    padding-top:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.calculator h1{
    font-size: 30px;
}

input{
    padding:14px;
    font-size:14px;
    border-radius: 5px;
    width: 60%;
}

button{
    background:rgb(118, 131, 227) ;
    padding:15px 20px;
    border-radius: 5px;
    color:white;
    cursor:pointer;
    width: 100px;
    border: 0px;
}

